*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
ul{
    display: flex;
    margin: 101px 0 96px 307px;
    column-gap: 78px;
}
.Button{
    color: black;
}
.header{
    border-bottom: 5px solid #5B5B5B;
}